<ion-view view-title="{{event.name}}">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
                ng-repeat="rider in riders"
                type="item-text-wrap"

        <h2>Name: {{rider.name[1]}}</h2>
        <h3>Vorname: {{rider.name[0]}}</h3>
        <p>Startnummer: {{rider.number}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>

  <div class="bar bar-footer">
    <input type="number" id="Startnummer" placeholder="find Number">
    <button class="button button-clear" ng-click="followClick()">Follow</button>
  </div>
</ion-view>
