<ion-view view-title="Sportograf Tracker">
  <ion-content>
    Hello and welcome to Sportografs mobile tracking App!
    <br>
    Please start by picking a race and then enter you starting number
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Your Race
        </div>
        <select id="event">
          <option selected>please select race</option>
          <option ng-repeat="event in events">
            {{event.name}}, ID:{{event.id}}
          </option>
        </select>
      </label>
      <label class="item item-input">
        <input id="numberfield" type="number" placeholder="Your number">
      </label>
      <button class="button button-block button-positive" ng-click="submitData()">
        Submit
      </button>
    </div>
    <div class="bar bar-footer">
      <button class="button button-clear" ng-click="goToFiles()">browse Saved files</button>
      <button class="button button-clear pull-right" ng-click="connectStrava()">connect with strava</button>
    </div>
  </ion-content>


</ion-view>
