<ion-view view-title="Sportograf Tracker" class="landing-view">
  <ion-nav-buttons side="primary">
    <button class="button button-icon icon ion-folder" ui-sref="files"></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refresh()">
    </ion-refresher>
    <div class="list list-inset">
      <label class="item item-input item-select padding-vertical">
        <div class="input-label">
          Your Race
        </div>
        <select id="event">
          <option selected>please select a race</option>
          <option ng-repeat="event in events">
            {{event.name}}, ID:{{event.id}}
          </option>
        </select>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input padding-vertical">
        <input id="numberfield" type="text" placeholder="Your number">
      </label>
    </div>
    <button class="button button-block button-light" ng-click="submitData()">
        Submit
    </button>



    <!--
    <div class="bar bar-footer bar-dark">
      <button class="button button-clear" ui-sref="files">browse Saved files</button>
    </div>
    -->
  </ion-content>


</ion-view>
