<ion-view view-title="{{event.name}}">
  <ion-content>
    <div class="row">
      <div class="col">lat</div>
      <div class="col col-75" id="lat"></div>
    </div>
    <div class="row">
      <div class="col">long</div>
      <div class="col col-75" id="long"></div>
    </div>
    <ul id="log"></ul>
    <div id="mapHolder">

    </div>
  </ion-content>

  <div class="bar bar-footer">
    <button class={{buttonStyle}} ng-click="tracking()">{{buttonText}}</button>
    <!-- <div class="title">Tracking</div>
     <button class="button button-assertive"ng-click="tracking()" ng-disabled={{tracking}}>Stop</button> -->
  </div>
</ion-view>
